{% extends "layout.html" %}

{% block navbar %}
            <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">SolarCalc</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- <ul class="navbar-nav mr-auto"> -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ url_for('index') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="{{ url_for('get_detailed_user_data', hash_id=hash_id) }}">Details</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link disabled" href="{{ url_for('simulate', hash_id=hash_id) }}">PowerCurve</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="{{ url_for('financial_projections', hash_id=hash_id) }}">Financial</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="{{ url_for('simulate_excess_energy', hash_id=hash_id) }}">ExcessEnergy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="{{ url_for('explanation', hash_id=hash_id) }}">Explanation</a>
                        </li>

                    </ul>
                </div>
            </nav>
    {% endblock %}

{% block header %}{% endblock %}
{% block content %} 

<div class="text-center my-5">
    <h1 class="display-4">Welcome to SolarCalc!</h1>
    <p class="lead">Tool for modeling the performance of your solar panel installation.</p>
    <hr class="my-4">
    <p>To get started, simply enter your eircode below. We'll use it to provide accurate solar energy data based on your location.</p>
    <p>After entering your eircode, you'll be guided to a page where you can input details about your solar panel system and explore financial projections.</p>
</div>


<div class="card mx-auto my-5" style="max-width: 30rem;">
    <div class="card-body">
        <h5 class="card-title text-center">Get Started</h5>
        <p class="card-text text-center">Enter your eircode to begin modeling your solar panel installation.</p>
        <form action="/" method="POST">
            <div class="mb-3">
                <label for="eircode" class="form-label">Eircode:</label>
                <input type="text" class="form-control" name="eircode" placeholder="Eircode" pattern="^([AaC-Fc-fHhKkNnPpRrTtV-Yv-y]{1}[0-9]{2}|[Dd]{1}6[Ww]{1})[ ]?[0-9AaC-Fc-fHhKkNnPpRrTtV-Yv-y]{4}$" required>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="list-unstyled">
                        {% for category, message in messages %}
                            <li class="alert alert-{{ category }}" role="alert">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <div class="d-grid">
                <input type="submit" class="btn btn-secondary" value="Start Modelling">
            </div>
        </form>
    </div>
</div>

{% endblock %}

