{% extends "layout.html" %}
{% block header %}Simulator{% endblock %}
{% block content %} 

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<hr>
<h2>Enter Date Range</h2>
<form  method="GET">
    <label for="start">Start Date:</label>
    <input type="date" id="start" name="start" min="2024-01-01" max="2024-12-31" value="2024-07-23" required>

</form>
<hr>
<div>
    <canvas id="comparisonChart"></canvas>
    <script>
        function updateChartData(data1){
            myChart.data.labels = data1.map(d => d.datetime);
            myChart.data.datasets[0].data = data1.map(d => d.power_import);
            myChart.update();
        }

        const start_date = document.getElementById("start");
        const ctx = document.getElementById("comparisonChart").getContext("2d");

        let myChart = new Chart(ctx, {
            type: "line",
            data: {
                labels: [],  // Time values
                datasets: [
                {
                    label: "Power Output 2 (W)",
                    data: [],
                    borderColor: "red",
                    fill: false
                }
                ]
            },
            options: {
                responsive: true,
                scales: {
                    x: {title: { display: true, text: 'Time'
                } },
                y: { beginAtZero: true }
                }
            }
            });
            
            start_date.addEventListener("change", (event) => {
                fetch("{{ url_for("get_excess_json_data", hash_id=hash_id) }}" + "?start=" + start_date.value)
                .then(response => response.json())
                .then(updateChartData);
            });

       
        fetch("{{ url_for("get_excess_json_data", hash_id=hash_id) }}" + "?start=" + start_date.value)
        .then(response => response.json())
        .then(updateChartData);
    </script>
</div>

{% endblock %}