{% extends "layout.html" %}
{% block header %}Simulator{% endblock %}
{% block content %} 
    <canvas id="solarChart"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        fetch("{{url_for("get_json_data", hash_id=hash_id)}}")
  .then(response => response.json())
  .then(data => {

    const powerOutput = data; 
    const ctx = document.getElementById('solarChart').getContext('2d');
    new Chart(ctx, {
      type: 'line',
      data: {
        datasets: [{
          label: 'Solar Power Output (W)',
          data: powerOutput,
          borderColor: 'rgb(75, 190, 190)',
          tension: 0.1
        }]
      },
      options: {
        responsive: true,
        scales: {
          x: { title: { display: true, text: 'Time', type: "timeseries" } },
          y: { title: { display: true, text: 'Solar Power Output (W)' } }
        }
      }
    });
  })
  .catch(error => console.error('Error loading JSON:', error))
    </script>
       
{% endblock %}