{% extends "layout.html" %}
{% block header %}{% endblock %}

{% block navbar_right %}
    <form class="d-flex form-inline my-2 my-lg-0" method="GET">
        <label for="start">Enter Date:</label>
        <input class="form-control mr-sm-2" type="date" id="start" name="start" min="2024-01-01" max="2024-12-31" value="2024-07-23" required>   
    </form>
{% endblock %}


{% block content %} 
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@3/build/global/luxon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon"></script>
<hr>
Pick a date to simulate your energy balance for that day.
<hr>
<div>
    <div class="card my-4 p-3">
        <h5 class="text-center">Energy Imported Over Time</h5>
        <canvas id="importChart"></canvas>
    </div>
    <script>
        function updateComparisonChart(data1) {
            comparisonChart.data.labels = data1.map(d => d.datetime);
            comparisonChart.data.datasets[0].data = data1.map(d => d.power_import);
            comparisonChart.update();
        }

        const start_date = document.getElementById("start");
        const comparisonCtx = document.getElementById("importChart").getContext("2d");

        let comparisonChart = new Chart(comparisonCtx, {
            type: "line",
            data: {
                labels: [],
                datasets: [
                {
                    label: "Energy to be Imported (W)",
                    data: [],
                    borderColor: "red",
                    fill: false
                }
                ]
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        title: { display: true, text: 'Time' },
                        type: 'time',
                        time: {
                            unit: 'hour',
                            tooltipFormat: 'dd/MM/yyyy HH:mm',
                            displayFormats: {
                                hour: 'dd/MM/yyyy HH:mm'
                            }
                        },
                        ticks: {autoSkip: true, maxRotation: 45}
                    },
                    y: { beginAtZero: true }
                }
            }
        });
    </script>
</div>
<div>
    <div class="card my-4 p-3">
        <h5 class="text-center">Energy Exported Over Time</h5>
        <canvas id="excessChart"></canvas>
    </div>
    <script>
        function updateExcessChart(data1) {
            excessChart.data.labels = data1.map(d => d.datetime);
            excessChart.data.datasets[0].data = data1.map(d => d.power_export);
            excessChart.update();
        }

        const excessCtx = document.getElementById("excessChart").getContext("2d");

        let excessChart = new Chart(excessCtx, {
            type: "line",
            data: {
                labels: [],
                datasets: [
                {
                    label: "Energy to be Exported (W)",
                    data: [],
                    borderColor: "red",
                    fill: false
                }
                ]
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        title: { display: true, text: 'Time' },
                        type: 'time',
                        time: {
                            unit: 'hour',
                            tooltipFormat: 'dd/MM/yyyy HH:mm',
                            displayFormats: {
                                hour: 'dd/MM/yyyy HH:mm'
                            }
                        },
                        ticks: {autoSkip: true, maxRotation: 45}
                     },
                    y: { beginAtZero: true }
                }
            }
        });
    </script>
</div>
<script>
    function fetchAndUpdateCharts() {
        fetch("{{ url_for("get_energy_needed_json_data", hash_id=hash_id) }}" + "?start=" + start_date.value)
            .then(response => response.json())
            .then(updateComparisonChart);

        fetch("{{ url_for("get_excess_solar_json_data", hash_id=hash_id) }}" + "?start=" + start_date.value)
            .then(response => response.json())
            .then(updateExcessChart);
    }

    start_date.addEventListener("change", fetchAndUpdateCharts);

    fetchAndUpdateCharts();
</script>

<div>
    <div class="card my-4 p-3">
        <h5 class="text-center">Monthly Import vs Export</h5>
        <canvas id="comparisonBarChart"></canvas>
    </div>
<script>
    fetch("{{ url_for("get_import_and_export_json_data", hash_id=hash_id) }}")
        .then(response => response.json())
        .then(data => updateChart(data));
  
    function updateChart(data) {
        const labels = data.map(item => item.month);
        const exportData = data.map(item => item.power_export); 
        const importData = data.map(item => item.power_import); 
    
        const ctx = document.getElementById("comparisonBarChart").getContext("2d");
    
        new Chart(ctx, {
        type: "bar",
        data: {
            labels: labels,
            datasets: [
            {
                label: "Energy Export (kWh)",
                data: exportData,
                backgroundColor: "rgba(54, 162, 235, 0.6)"
            },
            {
                label: "Energy Import (kWh)",
                data: importData,
                backgroundColor: "rgba(255, 99, 132, 0.6)"
            }
            ]
        },
        options: {
            responsive: true,
            scales: {
            x: { stacked: false },
            y: { stacked: false }
            }
        }
    });
    }
</script>
</div>
{% endblock %}